* {	margin:0;	padding:0; }

body {
	background:#eaeaea;
	color:#fff;
	font-size:18px;
	font-family: 'Exo 2', sans-serif;
}

a {
	color:#34495e;	
}

ul {
  width: 40%;
  list-style: none;
  float: right;
  margin-left: 20px;
}

li {
  display: flex;
  flex-direction: row;
}

.name {
  padding-left: 10px;
}

.rotate-wheel {
  transform: rotate(720deg);
}
.spin-wheel {
  margin-bottom: 10px;
}


























